<div class="container bg-dark p-2 text-white">
      <div class="row align-items-center mt-5 mb-2 p-2">
        <div class="col-1"></div>
        <div class="col-10 text-center">
          <img
            src="../../../assets/images/ppt_small.png"
            class="img-fluid rounded"
            alt="">
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row align-items-center mt-2 mb-2">
        <div class="col-1"></div>
        <div class="col-10 text-center">
          <h4>New player's name</h4>
        </div>

        <div class="col-1"></div>
      </div>
      <div class="row align-items-center">
        <div class="col-1"></div>
        <div class="col-10 text-center">
          <input
          class="form-control"
          type="text"
          name="username"
          required
          placeholder="Name"
          [(ngModel)]="this.username"
        />
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row align-items-center mt-2 p-2">
        <div class="col-1"></div>
        <div class="col-10 text-center">
          <button
            type="button"
            class="btn btn-success btn-lg text-dark bg-opacity-25"
            (click)= "this.login(this.username)"
          >JOIN</button>
        </div>
        <div class="col-1"></div>
      </div>
</div>
